name: CI-CD-ETL-Demo

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Run basic check
      run: |
        python etl.py

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/812107349915/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
        service_account: "github-ci@etl-poc-demo1-487211.iam.gserviceaccount.com"


    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Build & Deploy to Cloud Run
      run: |
        gcloud run deploy etl-demo \
          --source . \
          --region ${{ secrets.GCP_REGION }} \
          --platform managed \
          --allow-unauthenticated
